<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Employee records</title>
        {% load static %}
        <link rel="stylesheet" href="{% static '/style.css' %}" />
    </head>
    <body>
        <table class="table table-stripped table-bordered table-sm">
            <thead class="thead-dark">
                <tr>
                    <th>Employee ID</th>
                    <th>Employee Name</th>
                    <th>Employee Email</th>
                    <th>Employee Contact</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for employee in employees %}
                <tr>
                    <td>{{ employee.eID }}</td>
                    <td>{{ employee.eName }}</td>
                    <td>{{ employee.eEmail }}</td>
                    <td>{{ employee.eContact }}</td>
                    <td><a href="/edit/{{ employee.id }}"><span class="glyphicon glyphicon-pencil">Edit</span></a>
                        <a href="/delete/{{ employee.id }}"><span class="glyphicon glyphicon-trash">Delete</span></a> 
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>
        <br>
        <center><a href="/emp" class="btn btn-primary">Add new records</a></center>
    </body>
</html>